# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
node_modules/
.env
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# GOOGLE_ID=814032847440-4d27jrrigslgh01pecb1p49brua6qhgs.apps.googleusercontent.com
# GOOGLE_SECRET=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
# NEXTAUTH_URL=http://localhost:3000
# NEXTAUTH_SECRET=kode_rahasia

# DATABASE_URL="mongodb+srv://admin:mC0E5uJLiog5HQHc@pear-cluster.d4r7i7y.mongodb.net/test"